<f:if condition="{votes}">
<b>Roles</b>
<table class="table table-striped table-bordered">
	<f:for each="{votes}" as="vote">
	<tr>
		<td>{vote.role}</td>
		<td>{vote.privilege}</td>
	</tr>
	</f:for>
</table>
</f:if>

<f:if condition="{tokens}">
<b>Tokens</b>
<table class="table table-striped table-bordered">
	<f:for each="{tokens}" as="securityToken">
	<tr>
		<th>{securityToken.authenticationProviderName}: </th>
		<td>
			<f:if condition="{securityToken.authenticationStatus} == 1">No Credentials given</f:if>
			<f:if condition="{securityToken.authenticationStatus} == 2">Wrong Credentials</f:if>
			<f:if condition="{securityToken.authenticationStatus} == 3">Authentication successful</f:if>
			<f:if condition="{securityToken.authenticationStatus} == 4">Authentication needed</f:if>
		</td>
	</tr>
	</f:for>
</table>
</f:if>