<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:f="urn:flow3:fluid">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome to FLOW3</title>
<f:base />
<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Css/Standalone.css', package: 'Debug.Toolbar')}" />
</head>
<body>

<div class="container">
	<div class="row-fluid">
		<div class="tabbable tabs-left">
		  	<ul class="nav nav-tabs">
		   		<f:for each="{dataRenderers}" as="dataRenderer" key="key">
		   			<f:if condition="{dataRenderer} == {currentRenderer}"><f:then><li class="active"></f:then><f:else><li></f:else></f:if>
						<f:link.action action="index" addQueryString="1" arguments="{token: token, renderer: key}">{dataRenderer}</f:link.action>
					</li>
				</f:for>
		  	</ul>
		  	<div class="tab-content">
		  		<f:format.raw>{currentRenderer.panel}</f:format.raw>
		  	</div>
		</div>
	</div>
</div>

</body>
</html>
