@import "../Bootstrap/css/bootstrap.css";

body {
	background: #515151;
	padding: 60px;
}

body .debug-toolbar {
	position: absolute;
	top: 0;
}

.container > .row-fluid {
	background: #EFEFEF;
	padding: 0px;
}

.tabs-left > .nav-tabs {
	margin-right: 0;
}

.tab-content{
	background: white;
	padding: 20px;
}

th {
	text-align: left;
}

.debug-toolbar .array-list {
	margin-left: 0;
}